* {
    font-family: Roboto, Verdana, sans-serif;
    background-color: #323639;
}

#center-middle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center{
    text-align: center;
}

.text-area{
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;     
    background-color: #323639;
    color: #d6d7d7;
    resize: none;
    width: 280px;
    height: 90px;
    border: 8px solid #d6d7d7;
}

.offset-area{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #323639;
    color: #d6d7d7;
    width: 264px;
    height: 35px;
    border: 8px solid #d6d7d7;
}

input[type="number"]::-webkit-inner-spin-button{
    cursor:pointer;
    height: 38px;
    opacity: 0.5;
}

.buttons{
    text-align: center;
    background-color: transparent;
    width: 128px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    color: #d6d7d7;
    font-weight: bold;
    border: 6px solid #d6d7d7;
    transition: 1s;
    cursor: pointer;
}

.buttons:hover{
    color: #323639;
    background-color: #d6d7d7;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d6d7d7;
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #d6d7d7;
    color: #323639;
    box-sizing: border-box;
    text-align: center;
    margin-top: 9px;
    padding: 65px;
    width: 280px;
    height: 172px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instructions{
    width: 35px;
}

.instructions + .area{
    opacity: 0;
    width: 200px;
    color: #d6d7d7;
    border: 2px solid #d6d7d7;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    margin-top: 35px;
    margin-left: -20px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transition: 1s linear;
}

.instructions:hover + .area{
    opacity: 1;
}

.error{
    border: 8px solid #682E2E;
    transition: 0.2s linear;
}